<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>N-puzzle Solver</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container" id='app'>
            <h1>N-puzzle Solver</h1>
            <div class="row">
                <div class="one-half column">
                    <n-puzzle :rows="rows" :sqrt-n="sqrtN" @move-puzzle="changeState"></n-puzzle>
                </div>
                <div class="one-half column">
                    <div class="row">
                        <input id="n" type="text" :class="inputClass" 
                            type="number"
                            placeholder="Enter n..." v-model="inputN" />
                        <button @click="changeN" class="action">Change N</button>
                    </div>
                    <div class="row">
                        <button @click="genNPuzzle" class="action">New Puzzle</button>
                    </div>
                    <div class="row">
                        <button @click="solvePuzzle" class="action">Solve Puzzle</button>
                    </div>
                </div>
            </div>
            <div id='congrats' v-if="show" @click='show = false' v-cloak>
                <div id='overlay'  v-if="show">
                </div>
                <div class="center"  v-if="show">
                    <h1 id="winning">CONGRATULATIONS! YOU WON!</h1>
                    <p>Click anywhere to exit</p>
                </div> 
            </div>
        </div>
        

        <script type="text/x-template" id="n-puzzle-template">
            <div>
                <div class="box-row" v-for="(row, r) in rows">
                    <n-puzzle-cell v-for="(val, c) in row" 
                        v-on="$listeners"
                        :idx="r * sqrtN + c" :value="val" :key="val"></n-puzzle-cell>
                </div>
            </div>
        </script>
        
        <script type="text/x-template" id="n-puzzle-cell-template">
            <a href="#" class="cell" @click.prevent="move"  
                v-if="value !== 0">
                {{ value }}
            </a>
            <div class="cell" :class="classes" v-else>
                &nbsp;
            </div>

        </script>

        <script src="https://unpkg.com/vue"></script>
        <script src="npuzzle.js"></script>
        <script src="index.js"></script>
    </body>
</html>